* {
    list-style: none;
    text-decoration: none;
}
#wrapper > ul {
    width: 30%;
    height: 180px;
}
#wrapper > ul li {
    width: 200px;
    outline: black soild 1px
    margin-right: 10px;
}
#wrapper > ul li a {
    color: #000000
}
#wrapper > ul > li > ul {
    display: none;
}
#wrapper > ul > li:hover > ul {
    display: block;
}